In [1]:
import pandas as pd

In [2]:
dataset=pd.read_csv("online_shoppers_intention.csv")

In [3]:
dataset

,Administrative,Administrative_Duration,Informational,Informational_Duration,ProductRelated,ProductRelated_Duration,BounceRates,ExitRates,PageValues,SpecialDay,Month,OperatingSystems,Browser,Region,TrafficType,VisitorType,Weekend,Revenue
0,0,0.0,0,0.0,1,0.000000,0.200000,0.200000,0.000000,0.0,Feb,1,1,1,1,Returning_Visitor,False,False
1,0,0.0,0,0.0,2,64.000000,0.000000,0.100000,0.000000,0.0,Feb,2,2,1,2,Returning_Visitor,False,False
2,0,0.0,0,0.0,1,0.000000,0.200000,0.200000,0.000000,0.0,Feb,4,1,9,3,Returning_Visitor,False,False
3,0,0.0,0,0.0,2,2.666667,0.050000,0.140000,0.000000,0.0,Feb,3,2,2,4,Returning_Visitor,False,False
4,0,0.0,0,0.0,10,627.500000,0.020000,0.050000,0.000000,0.0,Feb,3,3,1,4,Returning_Visitor,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12325,3,145.0,0,0.0,53,1783.791667,0.007143,0.029031,12.241717,0.0,Dec,4,6,1,1,Returning_Visitor,True,False
12326,0,0.0,0,0.0,5,465.750000,0.000000,0.021333,0.000000,0.0,Nov,3,2,1,8,Returning_Visitor,True,False
12327,0,0.0,0,0.0,6,184.250000,0.083333,0.086667,0.000000,0.0,Nov,3,2,1,13,Returning_Visitor,True,False
12328,4,75.0,0,0.0,15,346.000000,0.000000,0.021053,0.000000,0.0,Nov,2,2,3,11,Returning_Visitor,False,False
12329,0,0.0,0,0.0,3,21.250000,0.000000,0.066667,0.000000,0.0,Nov,3,2,1,2,New_Visitor,True,False

In [4]:
dataset=pd.get_dummies(dataset,drop_first=True)

In [5]:
dataset

,Administrative,Administrative_Duration,Informational,Informational_Duration,ProductRelated,ProductRelated_Duration,BounceRates,ExitRates,PageValues,SpecialDay,...,Month_Feb,Month_Jul,Month_June,Month_Mar,Month_May,Month_Nov,Month_Oct,Month_Sep,VisitorType_Other,VisitorType_Returning_Visitor
0,0,0.0,0,0.0,1,0.000000,0.200000,0.200000,0.000000,0.0,...,1,0,0,0,0,0,0,0,0,1
1,0,0.0,0,0.0,2,64.000000,0.000000,0.100000,0.000000,0.0,...,1,0,0,0,0,0,0,0,0,1
2,0,0.0,0,0.0,1,0.000000,0.200000,0.200000,0.000000,0.0,...,1,0,0,0,0,0,0,0,0,1
3,0,0.0,0,0.0,2,2.666667,0.050000,0.140000,0.000000,0.0,...,1,0,0,0,0,0,0,0,0,1
4,0,0.0,0,0.0,10,627.500000,0.020000,0.050000,0.000000,0.0,...,1,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12325,3,145.0,0,0.0,53,1783.791667,0.007143,0.029031,12.241717,0.0,...,0,0,0,0,0,0,0,0,0,1
12326,0,0.0,0,0.0,5,465.750000,0.000000,0.021333,0.000000,0.0,...,0,0,0,0,0,1,0,0,0,1
12327,0,0.0,0,0.0,6,184.250000,0.083333,0.086667,0.000000,0.0,...,0,0,0,0,0,1,0,0,0,1
12328,4,75.0,0,0.0,15,346.000000,0.000000,0.021053,0.000000,0.0,...,0,0,0,0,0,1,0,0,0,1
12329,0,0.0,0,0.0,3,21.250000,0.000000,0.066667,0.000000,0.0,...,0,0,0,0,0,1,0,0,0,0

In [6]:
dataset.isnull().sum()

Administrative                   0
Administrative_Duration          0
Informational                    0
Informational_Duration           0
ProductRelated                   0
ProductRelated_Duration          0
BounceRates                      0
ExitRates                        0
PageValues                       0
SpecialDay                       0
OperatingSystems                 0
Browser                          0
Region                           0
TrafficType                      0
Weekend                          0
Revenue                          0
Month_Dec                        0
Month_Feb                        0
Month_Jul                        0
Month_June                       0
Month_Mar                        0
Month_May                        0
Month_Nov                        0
Month_Oct                        0
Month_Sep                        0
VisitorType_Other                0
VisitorType_Returning_Visitor    0
dtype: int64

In [7]:
dataset.tail()

,Administrative,Administrative_Duration,Informational,Informational_Duration,ProductRelated,ProductRelated_Duration,BounceRates,ExitRates,PageValues,SpecialDay,...,Month_Feb,Month_Jul,Month_June,Month_Mar,Month_May,Month_Nov,Month_Oct,Month_Sep,VisitorType_Other,VisitorType_Returning_Visitor
12325,3,145.0,0,0.0,53,1783.791667,0.007143,0.029031,12.241717,0.0,...,0,0,0,0,0,0,0,0,0,1
12326,0,0.0,0,0.0,5,465.750000,0.000000,0.021333,0.000000,0.0,...,0,0,0,0,0,1,0,0,0,1
12327,0,0.0,0,0.0,6,184.250000,0.083333,0.086667,0.000000,0.0,...,0,0,0,0,0,1,0,0,0,1
12328,4,75.0,0,0.0,15,346.000000,0.000000,0.021053,0.000000,0.0,...,0,0,0,0,0,1,0,0,0,1
12329,0,0.0,0,0.0,3,21.250000,0.000000,0.066667,0.000000,0.0,...,0,0,0,0,0,1,0,0,0,0

In [8]:
dataset.columns

Index(['Administrative', 'Administrative_Duration', 'Informational',
       'Informational_Duration', 'ProductRelated', 'ProductRelated_Duration',
       'BounceRates', 'ExitRates', 'PageValues', 'SpecialDay',
       'OperatingSystems', 'Browser', 'Region', 'TrafficType', 'Weekend',
       'Revenue', 'Month_Dec', 'Month_Feb', 'Month_Jul', 'Month_June',
       'Month_Mar', 'Month_May', 'Month_Nov', 'Month_Oct', 'Month_Sep',
       'VisitorType_Other', 'VisitorType_Returning_Visitor'],
      dtype='object')

In [9]:
independent=dataset[['Administrative', 'Administrative_Duration', 'Informational',
       'Informational_Duration', 'ProductRelated', 'ProductRelated_Duration',
       'BounceRates', 'ExitRates', 'PageValues', 'SpecialDay',
       'OperatingSystems', 'Browser', 'Region', 'TrafficType', 'Weekend',
       'Month_Dec', 'Month_Feb', 'Month_Jul', 'Month_June',
       'Month_Mar', 'Month_May', 'Month_Nov', 'Month_Oct', 'Month_Sep',
       'VisitorType_Other', 'VisitorType_Returning_Visitor']]
dependent = dataset[['Revenue']]

In [10]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(independent,dependent,test_size=0.25,random_state=0)

In [11]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
x_train=sc.fit_transform(x_train)
x_test=sc.transform(x_test)

In [12]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import GridSearchCV
param_grid ={'criterion':['gini', 'entropy','log_loss'],'max_features':['sqrt','log2']}

In [13]:
grid = GridSearchCV(RandomForestClassifier(), param_grid,verbose=3,n_jobs=1,scoring='f1_weighted')

In [14]:
grid.fit(x_train,y_train)

Fitting 5 folds for each of 6 candidates, totalling 30 fits

C:\Users\midhu\anaconda3\envs\aiml\lib\site-packages\sklearn\model_selection\_validation.py:680: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)

[CV 1/5] END .criterion=gini, max_features=sqrt;, score=0.908 total time=   0.8s

C:\Users\midhu\anaconda3\envs\aiml\lib\site-packages\sklearn\model_selection\_validation.py:680: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)

[CV 2/5] END .criterion=gini, max_features=sqrt;, score=0.902 total time=   0.7s

C:\Users\midhu\anaconda3\envs\aiml\lib\site-packages\sklearn\model_selection\_validation.py:680: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)

[CV 3/5] END .criterion=gini, max_features=sqrt;, score=0.901 total time=   0.7s

C:\Users\midhu\anaconda3\envs\aiml\lib\site-packages\sklearn\model_selection\_validation.py:680: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)

[CV 4/5] END .criterion=gini, max_features=sqrt;, score=0.900 total time=   1.2s

C:\Users\midhu\anaconda3\envs\aiml\lib\site-packages\sklearn\model_selection\_validation.py:680: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)

[CV 5/5] END .criterion=gini, max_features=sqrt;, score=0.891 total time=   2.3s

C:\Users\midhu\anaconda3\envs\aiml\lib\site-packages\sklearn\model_selection\_validation.py:680: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)

[CV 1/5] END .criterion=gini, max_features=log2;, score=0.906 total time=   2.0s

C:\Users\midhu\anaconda3\envs\aiml\lib\site-packages\sklearn\model_selection\_validation.py:680: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)

[CV 2/5] END .criterion=gini, max_features=log2;, score=0.895 total time=   2.0s

C:\Users\midhu\anaconda3\envs\aiml\lib\site-packages\sklearn\model_selection\_validation.py:680: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)

[CV 3/5] END .criterion=gini, max_features=log2;, score=0.901 total time=   2.0s

C:\Users\midhu\anaconda3\envs\aiml\lib\site-packages\sklearn\model_selection\_validation.py:680: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)

[CV 4/5] END .criterion=gini, max_features=log2;, score=0.901 total time=   2.0s

C:\Users\midhu\anaconda3\envs\aiml\lib\site-packages\sklearn\model_selection\_validation.py:680: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)

[CV 5/5] END .criterion=gini, max_features=log2;, score=0.892 total time=   2.0s

C:\Users\midhu\anaconda3\envs\aiml\lib\site-packages\sklearn\model_selection\_validation.py:680: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)

[CV 1/5] END criterion=entropy, max_features=sqrt;, score=0.903 total time=   2.7s

C:\Users\midhu\anaconda3\envs\aiml\lib\site-packages\sklearn\model_selection\_validation.py:680: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)

[CV 2/5] END criterion=entropy, max_features=sqrt;, score=0.900 total time=   2.7s

C:\Users\midhu\anaconda3\envs\aiml\lib\site-packages\sklearn\model_selection\_validation.py:680: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)

[CV 3/5] END criterion=entropy, max_features=sqrt;, score=0.903 total time=   2.7s

C:\Users\midhu\anaconda3\envs\aiml\lib\site-packages\sklearn\model_selection\_validation.py:680: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)

[CV 4/5] END criterion=entropy, max_features=sqrt;, score=0.896 total time=   2.7s

C:\Users\midhu\anaconda3\envs\aiml\lib\site-packages\sklearn\model_selection\_validation.py:680: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)

[CV 5/5] END criterion=entropy, max_features=sqrt;, score=0.896 total time=   2.7s

C:\Users\midhu\anaconda3\envs\aiml\lib\site-packages\sklearn\model_selection\_validation.py:680: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)

[CV 1/5] END criterion=entropy, max_features=log2;, score=0.905 total time=   2.4s

C:\Users\midhu\anaconda3\envs\aiml\lib\site-packages\sklearn\model_selection\_validation.py:680: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)

[CV 2/5] END criterion=entropy, max_features=log2;, score=0.897 total time=   2.4s

C:\Users\midhu\anaconda3\envs\aiml\lib\site-packages\sklearn\model_selection\_validation.py:680: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)

[CV 3/5] END criterion=entropy, max_features=log2;, score=0.901 total time=   2.4s

C:\Users\midhu\anaconda3\envs\aiml\lib\site-packages\sklearn\model_selection\_validation.py:680: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)

[CV 4/5] END criterion=entropy, max_features=log2;, score=0.903 total time=   2.4s

C:\Users\midhu\anaconda3\envs\aiml\lib\site-packages\sklearn\model_selection\_validation.py:680: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)

[CV 5/5] END criterion=entropy, max_features=log2;, score=0.891 total time=   2.4s
[CV 1/5] END criterion=log_loss, max_features=sqrt;, score=nan total time=   0.0s
[CV 2/5] END criterion=log_loss, max_features=sqrt;, score=nan total time=   0.0s

C:\Users\midhu\anaconda3\envs\aiml\lib\site-packages\sklearn\model_selection\_validation.py:680: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\midhu\anaconda3\envs\aiml\lib\site-packages\sklearn\model_selection\_validation.py:680: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\midhu\anaconda3\envs\aiml\lib\site-packages\sklearn\model_selection\_validation.py:680: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\midhu\anaconda3\envs\aiml\lib\site-packages\sklearn\model_selection\_validation.py:680: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\midhu\anaconda3\envs\aiml\lib\site-packages\sklearn\model_selection\_validation.py:680: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)

[CV 3/5] END criterion=log_loss, max_features=sqrt;, score=nan total time=   0.0s
[CV 4/5] END criterion=log_loss, max_features=sqrt;, score=nan total time=   0.0s
[CV 5/5] END criterion=log_loss, max_features=sqrt;, score=nan total time=   0.0s
[CV 1/5] END criterion=log_loss, max_features=log2;, score=nan total time=   0.0s
[CV 2/5] END criterion=log_loss, max_features=log2;, score=nan total time=   0.0s

C:\Users\midhu\anaconda3\envs\aiml\lib\site-packages\sklearn\model_selection\_validation.py:680: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\midhu\anaconda3\envs\aiml\lib\site-packages\sklearn\model_selection\_validation.py:680: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\midhu\anaconda3\envs\aiml\lib\site-packages\sklearn\model_selection\_validation.py:680: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\midhu\anaconda3\envs\aiml\lib\site-packages\sklearn\model_selection\_validation.py:680: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)

[CV 3/5] END criterion=log_loss, max_features=log2;, score=nan total time=   0.0s
[CV 4/5] END criterion=log_loss, max_features=log2;, score=nan total time=   0.0s
[CV 5/5] END criterion=log_loss, max_features=log2;, score=nan total time=   0.0s

C:\Users\midhu\anaconda3\envs\aiml\lib\site-packages\sklearn\model_selection\_validation.py:680: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\midhu\anaconda3\envs\aiml\lib\site-packages\sklearn\model_selection\_validation.py:372: FitFailedWarning:
10 fits failed out of a total of 30.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
10 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\midhu\anaconda3\envs\aiml\lib\site-packages\sklearn\model_selection\_validation.py", line 680, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\midhu\anaconda3\envs\aiml\lib\site-packages\sklearn\ensemble\_forest.py", line 467, in fit
    for i, t in enumerate(trees)
  File "C:\Users\midhu\anaconda3\envs\aiml\lib\site-packages\joblib\parallel.py", line 1863, in __call__
    return output if self.return_generator else list(output)
  File "C:\Users\midhu\anaconda3\envs\aiml\lib\site-packages\joblib\parallel.py", line 1792, in _get_sequential_output
    res = func(*args, **kwargs)
  File "C:\Users\midhu\anaconda3\envs\aiml\lib\site-packages\sklearn\utils\fixes.py", line 216, in __call__
    return self.function(*args, **kwargs)
  File "C:\Users\midhu\anaconda3\envs\aiml\lib\site-packages\sklearn\ensemble\_forest.py", line 185, in _parallel_build_trees
    tree.fit(X, y, sample_weight=curr_sample_weight, check_input=False)
  File "C:\Users\midhu\anaconda3\envs\aiml\lib\site-packages\sklearn\tree\_classes.py", line 942, in fit
    X_idx_sorted=X_idx_sorted,
  File "C:\Users\midhu\anaconda3\envs\aiml\lib\site-packages\sklearn\tree\_classes.py", line 352, in fit
    criterion = CRITERIA_CLF[self.criterion](
KeyError: 'log_loss'

  warnings.warn(some_fits_failed_message, FitFailedWarning)
C:\Users\midhu\anaconda3\envs\aiml\lib\site-packages\sklearn\model_selection\_search.py:972: UserWarning: One or more of the test scores are non-finite: [0.90045592 0.89898085 0.8997666  0.89943179        nan        nan]
  category=UserWarning,
C:\Users\midhu\anaconda3\envs\aiml\lib\site-packages\sklearn\model_selection\_search.py:926: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  self.best_estimator_.fit(X, y, **fit_params)

GridSearchCV(estimator=RandomForestClassifier(), n_jobs=1,
             param_grid={'criterion': ['gini', 'entropy', 'log_loss'],
                         'max_features': ['sqrt', 'log2']},
             scoring='f1_weighted', verbose=3)

In [15]:
re=grid.cv_results_
grid_prediction=grid.predict(x_test)

In [16]:
from sklearn.ensemble import RandomForestClassifier

# Create a RandomForestClassifier with a valid criterion
classifier = RandomForestClassifier(criterion='gini', max_features='log2')

# Fit the classifier to your training data
classifier.fit(x_train, y_train)

C:\Users\midhu\anaconda3\envs\aiml\lib\site-packages\ipykernel_launcher.py:7: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  import sys

RandomForestClassifier(max_features='log2')

In [17]:
from sklearn.metrics import confusion_matrix
cm=confusion_matrix(y_test,grid_prediction)
from sklearn.metrics import classification_report
clf_report=classification_report(y_test,grid_prediction)

In [18]:
from sklearn.metrics import f1_score
f1_macro=f1_score(y_test,grid_prediction,average='weighted')
print("The f1_macro score value for best parameter:",format(grid.best_params_),f1_macro)

The f1_macro score value for best parameter: {'criterion': 'gini', 'max_features': 'sqrt'} 0.8886066790674939

In [19]:
print('The confusion matrix: /n',cm)
print('The report:/n',clf_report)

The confusion matrix: /n [[2467   92]
 [ 231  293]]
The report:/n               precision    recall  f1-score   support

       False       0.91      0.96      0.94      2559
        True       0.76      0.56      0.64       524

    accuracy                           0.90      3083
   macro avg       0.84      0.76      0.79      3083
weighted avg       0.89      0.90      0.89      3083

In [20]:
from sklearn.metrics import roc_auc_score
roc_auc_score(y_test,grid.predict_proba(x_test)[:,1])

0.9232386667024631

In [21]:
table=pd.DataFrame.from_dict(re)
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,1.186938,0.566769,0.057530,0.032644,gini,sqrt,"{'criterion': 'gini', 'max_features': 'sqrt'}",0.908105,0.902367,0.900716,0.900079,0.891013,0.900456,0.005505,1
1,1.984252,0.023290,0.098864,0.004651,gini,log2,"{'criterion': 'gini', 'max_features': 'log2'}",0.905786,0.894648,0.901311,0.901440,0.891718,0.898981,0.005085,4
2,2.730747,0.010885,0.098606,0.003397,entropy,sqrt,"{'criterion': 'entropy', 'max_features': 'sqrt'}",0.903268,0.900334,0.903466,0.895852,0.895913,0.899767,0.003360,2
3,2.414166,0.017870,0.096525,0.005399,entropy,log2,"{'criterion': 'entropy', 'max_features': 'log2'}",0.904644,0.897390,0.901133,0.902508,0.891485,0.899432,0.004623,3
4,0.100479,0.003307,0.000000,0.000000,log_loss,sqrt,"{'criterion': 'log_loss', 'max_features': 'sqrt'}",NaN,NaN,NaN,NaN,NaN,NaN,NaN,5
5,0.098222,0.004334,0.000000,0.000000,log_loss,log2,"{'criterion': 'log_loss', 'max_features': 'log2'}",NaN,NaN,NaN,NaN,NaN,NaN,NaN,6

In [22]:
Administrative_input=float(input('Administrative:'))
Administrative_Duration_input= float(input('Administrative_Duration:'))
Informational_input=float(input('Informational:'))
informational_Duration_input=float(input('Informational_Duration:'))
productRelated_input=float(input('ProductRelated:'))
productRelated_duration_input=float(input('productRelated_Duration:'))
bouncerates_input=float(input('BounceRates:'))
ExitRates_input=float(input('ExitRates:'))
pageValues_input=float(input('PageValues:'))
SpecialDay_input=float(input('SpecialDay:'))
OperatingSystems_input=float(input('OperatingSystems:'))
Browser_input=float(input('Browser:'))
Region_input=float(input('Region:'))
TrafficType_input=float(input('TrafficType:'))
Weekend_input=float(input('Weekend:'))
Month_dec_input=float(input('Month_Dec:'))
Month_feb_input=float(input('Month_Feb:'))
Month_Jul_input=float(input('Month_Jul:'))
Month_June_input=float(input('Month_June:'))
Month_Mar_input=float(input('Month_Mar:'))
Month_May_input=float(input('Month_May:'))
Month_Nov_input=float(input('Month_Nov:'))
Month_Oct_input=float(input('Month_Oct:'))
Month_Sep_input=float(input('Month_Sep:'))
VisitorType_other_input=float(input('VisitorType_Other:'))
VisitorType_Returning_Visitor=float(input('VisitorType_Returning_Visitor:'))

Administrative:4
Administrative_Duration:145
Informational:1
Informational_Duration:0
ProductRelated:21
productRelated_Duration:154
BounceRates:0.2
ExitRates:0.14
PageValues:0
SpecialDay:1
OperatingSystems:3
Browser:6
Region:9
TrafficType:5
Weekend:4
Month_Dec:1
Month_Feb:1
Month_Jul:0
Month_June:0
Month_Mar:0
Month_May:1
Month_Nov:1
Month_Oct:1
Month_Sep:1
VisitorType_Other:6
VisitorType_Returning_Visitor:9

In [23]:
Revenue_prediction=grid.predict([[Administrative_input,Administrative_Duration_input,Informational_input,informational_Duration_input,productRelated_input,productRelated_duration_input,bouncerates_input,ExitRates_input,pageValues_input,SpecialDay_input,OperatingSystems_input,Browser_input,Region_input,
                                  TrafficType_input,Weekend_input,Month_dec_input,Month_feb_input,Month_Jul_input,Month_June_input,Month_Mar_input,Month_May_input,Month_Nov_input,Month_Oct_input,Month_Sep_input,VisitorType_other_input,VisitorType_Returning_Visitor]])
print('Revenue_prediction={}'.format(Revenue_prediction))

Revenue_prediction=[False]

In [24]:
import pickle

In [25]:
filename='finalised_model_forest.sav'

In [26]:
pickle.dump(classifier,open(filename,'wb'))
loaded_model=pickle.load(open('finalised_model_forest.sav','rb'))
result=loaded_model.predict([[4,145,1,0,21,154,0.2,0.14,0,1,3,6,9,5,4,1,1,0,0,0,1,1,1,1,6,9]])

In [27]:
result

array([False])